@model IEnumerable<BooksReadTrackerModels.Book>

@{
    ViewData["Title"] = "Top10Index";
}

<style>
    .custom-col-padding {
        padding-right: 5px;
        max-width: 220px;
    }

    .margin-left {
        margin-left: 6px;
    }

    .book-cover {
        width: 12rem;
        height: 15rem;
        border-radius: 10px;
    }

    .image-container {
        position: relative;
        display: inline-block;
    }

        .image-container img {
            display: block;
            width: 12rem;
            height: 15rem;
            border-radius: 10px;
        }

        .image-container a {
            position: absolute;
            top: 15.5rem;
        }

    .icon-delete {
        right: 5px;
    }

    .icon-edit {
        left: 9.1rem;
    }

    .icon-information {
        left: 7.5rem;
    }
</style>


<h1 class="pb-4">Trending Reads</h1>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-3 custom-col-padding">
                <div>
                    <h6 class="margin-left" style="word-break: break-all !important;">@item.Name</h6>
                    <div class="image-container">
                        
                        <img src="@item.FilePath ?? 'https://talkimages.blob.core.windows.net/mssaccad13/noImage.png'" class="card-img-top book-cover" alt="@item.Name" onerror="this.src='https://talkimages.blob.core.windows.net/mssaccad13/noImage.png'">
                    </div>
                    <div>
                        <p class="margin-left">@item.Category.Name</p>
                        

                    </div>
                </div>
            </div>
        }
    </div>
</div>
